* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 20px;
}

.container {
    width: 80vw;
    height: 90vh;
    background-color: #111;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-gap: 30px;
}

.image-container {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.image-container img {
    width: 50vw;
    height: 50vh;
    border-radius: 5px;
    margin-bottom: 20px;
}

.upload input[type="file"] {
    display: none;
}

.image {
}

.upload label {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.tools ul ,.tools ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}