* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 20px;
}

.container {
    width: 80vw;
    height: 90vh;
    background-color: #111;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-gap: 20px;
}